.footer {
	padding: 60px 0 40px;
	margin-top: auto;
	background-image: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
	text-align: center;
}

.footer__logo {
	display: inline-block;
	margin-bottom: 40px;
}

.footer__top {
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #D3CBD9;
}

.footer__menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__menu a {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: #535755;
	transition: all .3s;
}

.footer__menu a:hover {
	color: #3596ED;
}

.footer__copy {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #858E8A;
}