.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d3cbd9;
}

.phone {
	text-align: right;
}
.phone__text {
	margin-bottom: 8px;
}

.phone__link {
	font-weight: 500;
	font-size: 18px;
	color: #2C332F;
	transition: all .3s;
}
.phone__link:hover  {
	color: #3596ED;
}