body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
th span {
	color: red;
}
td span {
	color: red;
}

td, th, caption {
    border: 1px solid #000;
}

caption {
    border-bottom: none;
}