body {
	font-family: sans-serif;
}
.fieldset {
	border: 1px solid #000;
	display: block;
	border-radius: 5px;
	max-width: 240px;
}
h3 {
	margin: 10px 0px;
	font-size: 15px;
}
.form {
	display: block;
	margin: 5px 0px;
}
textarea {
	max-width: 200px;
	max-height:112px;
}
input {
	margin: 5px 0px;
	padding: 0px 0px 0px 5px;
}

