/* bace */
@import "./bace/normalize.css";
@import "./bace/fonts.css";
@import "./bace/vars.css";
@import "./bace/globals.css";

/* blocks */
@import "./blocks/header.css";
@import "./blocks/menu.css";
@import "./blocks/burger.css";
@import "./blocks/hero.css";
@import "./blocks/air-mag.css";



