/* bace */
@import "./bace/normalize.css";
@import "./bace/fonts.css";
@import "./bace/vars.css";
@import "./bace/globals.css";

/* blocks */
@import "./blocks/header.css";
@import "./blocks/menu.css";
@import "./blocks/burger.css";
@import "./blocks/hero.css";
@import "./blocks/air-mag.css";
@import "./blocks/product.css";
@import "./blocks/characteristics.css";
@import "./blocks/top-models.css";
@import "./blocks/footer.css";
@import "./blocks/modal.css";
@import "./blocks/modal-buy.css";



