@font-face {
	font-family: "Satoshi";
	src:
		local("Satoshi Regular"), local("Satoshi-Regular"),
		url("../../fonts/Satoshi-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src:
		local("Satoshi Medium"), local("Satoshi-Medium"),
		url("../../fonts/Satoshi-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi";
	src:
		local("Satoshi Bold"), local("Satoshi-Bold"),
		url("../../fonts/Satoshi-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Integral CF";
	src:
		local("Integral CF Bold"), local("Integral-CF-Bold"),
		url("../../fonts/Integral\ CF\ Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "FSP DEMO-Integral CF Heavy";
	src:
		local("FSP DEMO-Integral CF Heavy"), local("FSP-DEMO-Integral-CF-Heavy"),
		url("../../fonts/FSP\ DEMO\ -\ Integral\ CF\ Heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}