:root {
	/* font-family */
	--font-family: "Satoshi", sans-serif;
	--second-family: "FSP DEMO-Integral CF Heavy", sans-serif;
	--third-family: "Integral CF", sans-serif;
	--font3: "Inter", sans-serif;

	/* colors */
	--main-color: #ffffff;
	--black-color: #000000;
	--black-glow-color: #00000099;
	--background-color-1: #F0EEED;
	--background-color-2: #F0F0F0;
	--background-color-3: #F2F0F1;

	/* container */
	--container-width: 1240px;
	--container-padding: 15px;

}