html {
	font-family: sans-serif;
	font-weight: 550;
}

body * {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header {
	margin: 10px 0;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.ul {
	display: flex;
	gap: 20px;
}
a {
	color: black;
}

.header__logo {
	width: 80px;
	height: 80px;
	background-color: #000;
	border: 2px solid #000;
}
.border {
	margin-top: 20px;
	border: 1px solid #000;
	width: 1320px;
}