.clothes__arrivals-title {
  padding-top: 72px;
  padding-bottom: 55px;
}

.clothes__arrivals-list,
.clothes__leaders-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 51px;
}

.jq-ry-container {
  padding: 0;
}

@media (width > 992px) {
  .clothes__arrivals-text {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

@media (width > 992px) {
  .clothes__arrivals-text {
    padding-top: 11px;
    padding-bottom: 7px;
  }
}

.clothes__arrivalsrateYo {
  margin-bottom: 8px;
  padding: 0;
}

.clothes__arrivals-item {
  position: relative;
}

.clothes__arrivals-item img {
  border-radius: 20px;
}

@media (any-hover: hover) {
  .clothes__arrivals-item:hover img {
    transform: translateY(-4px);
    box-shadow: 0 22px 45px rgba(0, 0, 0, 0.45);
  }
}

@media (width > 810px) {
  .clothes__arrivalsrateYo-item {
    position: absolute;
    bottom: 35px;
    left: 110px;
  }
}

@media (width <=810px) {
  .clothes__arrivalsrateYo-item {
    position: absolute;
    bottom: 30px;
    left: 110px;
  }
}

@media (width > 810px) {
  .clothes__arrivalsrateYo-item-1 {
    position: absolute;
    bottom: 35px;
    left: 87px;
  }
}

@media (width <=810px) {
  .clothes__arrivalsrateYo-item-1 {
    position: absolute;
    bottom: 30px;
    left: 87px;
  }
}

.clothes__arrivalsrateYo-item-2 {
  position: absolute;
  bottom: 30px;
  left: 110px;
}

@media (width > 992px) {
  .clothes__arrivals-price {
    padding-right: 10px;
  }

  .clothes__arrivals-sale {
    padding-right: 10px;
  }

}

@media (width <=992px) {
  .clothes__arrivals-price {
    padding-right: 5px;
  }

  .clothes__arrivals-sale {
    padding-right: 5px;
  }

}

.clothes__arrivals-percent {
  border-radius: 62px;
  padding: 6px 14px;
  width: 58px;
  height: 28px;
  background: rgba(255, 51, 51, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media (width > 992px) {
  .clothes__arrivals-percent-item {
    font-weight: 500;
    font-size: 12px;
    color: #f33;
  }
}

@media (width <=992px) {
  .clothes__arrivals-percent {
    width: 40px;
    height: 20px;
  }

  .clothes__arrivals-percent-item {
    font-weight: 500;
    font-size: 10px;
    color: #f33;
  }
}


.clothes__arrivals-content {
  display: flex;
}

.clothes__arrivals-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
}

.clothes__arrivals-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 62px;
  width: 218px;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (width <=768px) {
  .clothes__arrivals-button {
    width: 358px;
    height: 46px;
  }

}


.clothes__leaders-title {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 64px;
}

.clothes__leaders-price {
  padding-right: 10px;
}

.clothes__leaders-sale {
  padding-right: 10px;
}

@media (width > 992px) {
  .clothes__leaders-text {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

@media (width <=992px) {
  .clothes__leaders-text {
    padding-top: 11px;
    padding-bottom: 7px;
  }
}


.clothes__leadersrateYo {
  margin-bottom: 8px;
}

.clothes__leaders-content {
  display: flex;
}

.clothes__leaders-percent {
  border-radius: 62px;
  padding: 6px 14px;
  width: 58px;
  height: 28px;
  background: rgba(255, 51, 51, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media (width <=992px) {
  .clothes__leaders-percent {
    width: 40px;
    height: 20px;
  }
}

.clothes__leaders-percent-item {
  font-weight: 500;
  font-size: 12px;
  color: #f33;
}

.clothes__leaders-title {
  padding-bottom: 55px;
}

.clothes__leaders-item {
  position: relative;
}

.clothes__leaders-item img {
  border-radius: 20px;
}

@media (any-hover: hover) {
  .clothes__leaders-item:hover img {
    transform: translateY(-4px);
    box-shadow: 0 22px 45px rgba(0, 0, 0, 0.45);
  }
}

@media (width > 776px ) {
  .clothes__leadersrateYo-item {
    position: absolute;
    bottom: 35px;
    left: 110px;
  }
}

@media (width <= 776px ) {
  .clothes__leadersrateYo-item {
    position: absolute;
    bottom: 30px;
    left: 110px;
  }
}


@media (width > 810px) {
  .clothes__leadersrateYo-item-2 {
    position: absolute;
    bottom: 35px;
    left: 115px;
  }

  .clothes__leadersrateYo-item-4 {
    position: absolute;
    bottom: 35px;
    left: 71px;
  }
}

@media (width <=810px) {
  .clothes__leadersrateYo-item-2 {
    position: absolute;
    bottom: 30px;
    left: 115px;
  }

  .clothes__leadersrateYo-item-4 {
    position: absolute;
    bottom: 30px;
    left: 71px;
  }
}

.clothes__leadersrateYo-item-3 {
  position: absolute;
  bottom: 30px;
  left: 92px;
}

.clothes__leaders-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

@media (width <=768px) {
  .clothes__arrivals-title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #000;

  }
}