.style {
    padding-bottom: 80px;
}

.wrapper {
    border-radius: 40px;
    max-width: 1239px;
    max-height: 866px;
    background: var(--background-color-2);
    padding: 0 64px 76px 64px;
}

.style__title {
    padding-top: 70px;
    padding-bottom: 64px;
}

.style-choose {
    padding-bottom: 20px;
    display: flex;
    gap: 20px;
}

.style__img {
    border-radius: 20px;
}

@media (any-hover: hover) {
    .style__img:hover {
        transform: translateY(-4px);
        box-shadow: 0 22px 45px rgba(0, 0, 0, 0.45);
    }
}

@media (width <=768px) {
    .style__title {
        font-size: 30px;
        line-height: 120%;
    }

    .style-choose {
        flex-direction: column;
    }

    .wrapper {
        max-height: none;
    }
}

@media (width <=576px) {
    .style__img {
        width: 310px;
        height: 190px;
    }

    .style-choose img {
        filter: blur(.6px);
    }
}