.top {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	max-width: 2000px;
	background-color: var(--black-color);
	gap: 30px;
}

.top__text {
	font-weight: 400;
	font-size: 14px;
	color: var(--main-color);
}

.top__link {
	font-weight: 500;
	text-decoration: underline;
	color: var(--main-color);
}
.top__button {
	display: flex;
	position: absolute;
	right: 20px;
}
.hide {
	display: none;
}

@media (width <=768px) {
	.top__text-span {
		display: none;
	}
}