/* bace */
@import "./bace/normalize.css";
@import "./bace/fonts.css";
@import "./bace/vars.css";
@import "./bace/globals.css";

/* blocks */
@import "./blocks/top.css";
@import "./blocks/header.css";
@import "./blocks/burger.css";
@import "./blocks/hero.css";
@import "./blocks/clothes.css";
@import "./blocks/style.css";
@import "./blocks/reviews.css";
@import "./blocks/footer.css";